@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #ffffff, #f9fafb, #f3f4f6);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gradient-to-b from-slate-950 via-gray-950 to-black;
  font-size: 70%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* globals.css */
/* html {
  @apply bg-gradient-to-b from-slate-950 via-gray-950 to-black;
  font-size: 70%;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
} */
